<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>project2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Register2Demo</display-name>
    <servlet-name>Register2Demo</servlet-name>
    <servlet-class>com.Register2Demo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register2Demo</servlet-name>
    <url-pattern>/Register2Demo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateDemo</display-name>
    <servlet-name>updateDemo</servlet-name>
    <servlet-class>com.updateDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateDemo</servlet-name>
    <url-pattern>/updateDemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteDemo</display-name>
    <servlet-name>deleteDemo</servlet-name>
    <servlet-class>com.deleteDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteDemo</servlet-name>
    <url-pattern>/deleteDemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>readDemo</display-name>
    <servlet-name>readDemo</servlet-name>
    <servlet-class>com.readDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>readDemo</servlet-name>
    <url-pattern>/readDemo</url-pattern>
  </servlet-mapping>
</web-app>